{% extends 'app/layout.html' %}

{% block content %}
<article>
    <div class="container-article">
        <img src="../../static/images/cosfa.png">
        <div>
            <h2 class="username"><a href="#">@Daniel Loaiza</a></h2>
            <i class="clock"></i>
            <time data-time="#">correo@gmail.com</time><br>
            <time data-time="#">5 seconds ago</time>
            <div class="post">Hola, tengo un sugerencia acerda de</div>
        </div>
    </div>
</article>
<article>
    <div class="container-article">
        <img src="../../static/images/cosfa.png">
        <div>
            <h2 class="username"><a href="#">@Cesar Murillo</a></h2>
            <i class="clock"></i>
            <time data-time="#">30 seconds ago</time><br>
            <time data-time="#">correo@gmail.com</time>
            <div class="post">Hola, tengo un sugerencia acerda de</div>
        </div>
    </div>
</article>
<article>
    <div class="container-article">
        <img src="../../static/images/cosfa.png">
        <div>
            <h2 class="username"><a href="#">@Juan Clavijo</a></h2>
            <i class="clock"></i>
            <time data-time="#">1 minute ago</time><br>
            <time data-time="#">correo@gmail.com</time>
            <div class="post">Hola, tengo una sugerencia acerda de</div>
        </div>
    </div>
</article>

{% endblock %}